.col-lg-12.col-md-10.mx-auto
  .post-preview
    = link_to asset_url("spirituality_for_devs/cap1.png"), target: "blank" do
      = image_tag(asset_url("spirituality_for_devs/cap1.png"), class: "noice")
