<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Someone Contacted you via ramminti.co</h1>
    <p>
      <%= @params.inspect %>
    </p>
    <p>
      Have a great day brother/sister
    </p>
    <p>Thanks for joining!</p>
  </body>
</html>
