<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to ramdassdass.com, <%= @user.email %></h1>
    <p>
      You have successfully signed up, Thank you for reading and please make any comment you want.
      You will get discount and free things just for signing in :).
    </p>
    <p>
      Have a great day brother/sister
    </p>
    <p>Thanks for joining!</p>
  </body>
</html>
