<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bienvenido a ramminti.co <%= @user.email %></h1>
    <p>
      Con tu donacion, hemos creado una cuenta y ahora podras tener acceso a tus capitulos privados
      Tambien desde la pagina, haciendo click en tu nombre, podras cambiar tu contraseña, actualmente creamos una aleatoria.

      Credenciales para iniciar sesion:
      email: <%= @user.email %>
      password: <%= @user.payer_id %>
    </p>
    <p>
      Have a great day brother/sister
    </p>
    <p>Thanks for joining!</p>
  </body>
</html>
