.d-flex.flex-column.align-items-center.my-3
  - if current_user.paid_orders.any?
    = render partial: "user/dashboards/paid_orders"
  - else
    = render partial: "user/dashboards/orders_empty_state"

  = render partial: "user/dashboards/private_chapters", locals: {private_chapters: @private_chapters}

  = render partial: "user/dashboards/account"