%article
  .container
    .row
      .div
        %hr
      %h5 Comments:
      .col-lg-8.col-md-10.mx-auto
        - if comments.any?
          - comments.each do |comment|
            .card.mb-4
              .card-body
                %p= comment.content
                .d-flex.justify-content-between
                  .d-flex.flex-row.align-items-center
                    %p.small.mb-0.ms-2= comment.name.split("@")[0]