.col-12.col-xl-3.d-flex.flex-column.justify-content-center.align-items-center.mx-auto.mx-xl-0.position-sticky{:style=>"top: 93px; z-index: 100;"}
  %h5.text-center Si quieres seguir leyendo haz una donación de 2.00 usd o más :)
  .d-flex.align-items-center.flex-column
    = image_tag(asset_url("flower_lotus.png"), class: "blankslate-top-img mb-2", style: "width: 240px;")
    %input#donationValue.form-control.paypal-container-width{:name => "donationValue", :type => "number", min: 2.0, value: 2.0, step: ".1", :style=>"margin-bottom: 5px;"}
  .paypal-conteiner.paypal-container-width